export SNOWFLAKE_ACCOUNT=IWUWGVK-LV71752
export SNOWFLAKE_USER=Oleksandr
export SNOWFLAKE_PASSWORD=Cfymjrcfymjr123!
export SNOWFLAKE_DATABASE=benchmark_db
export SNOWFLAKE_SCHEMA=public
export SNOWFLAKE_WAREHOUSE=BENCHMARK_WH
export SNOWFLAKE_ROLE=SYSADMIN

export EMBUCKET_HOST=localhost
export EMBUCKET_PORT=3000
export EMBUCKET_PROTOCOL=http
export EMBUCKET_ACCOUNT=test
export EMBUCKET_USER=${EMBUCKET_USER:-embucket}
export EMBUCKET_PASSWORD=${EMBUCKET_PASSWORD:-embucket}
export EMBUCKET_ROLE=SYSADMIN
export EMBUCKET_DATABASE=${EMBUCKET_DATABASE:-embucket}
export EMBUCKET_WAREHOUSE=COMPUTE_WH
export EMBUCKET_SCHEMA=public